<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Docs Converter Bot</title>
    <link rel="stylesheet" href="index.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/typeit@6.1.1/dist/typeit.min.js"></script>
</head>

<body>
    <main>
        <h1 id="header">
            {{ message }}
        </h1>
        <br/>
        <p><a href="tg://resolve?domain=docs_converter_bot">Back to bot</a></p>
        <br/>

        <h4>© 2020— AlexStrNik. The source code for this website is available on <a href="https://gitlab.com/AlexStrNik/docs-converter-landing">GitLab</a>.</h4>
    </main>
    <script>
        let typeIt = new TypeIt('#header', {
            speed: 100,
            loop: false,
        }).go();
    </script>
</body>
</html>